* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: #e0e0e0;
    color:#101010;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 60rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0.5rem;
}

.flex {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 5px;
}

.card {
    margin-top: 10px;
    height: 11rem;
    position: relative; /* Agregamos posición relativa */
    background: #f1f1f1;
    gap: 1px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: transform .2s, box-shadow .5s;
    --blob-size: 250px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(180, 180, 180, 0.5);
}

.card-container {
    overflow: hidden;
}

.card-2 {
    width: 50rem;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link {
    margin: 5px;
    border-radius: 2px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.link-text {
    display: inline;
    position: relative;
}

.link-text::before {
    content: '';
    position: absolute;
    border-bottom: 2px solid #69879a;
    width: 20%;
    bottom: -5px;
    left: 0;
    transition: all .3s;
    opacity: 0;
}

.link-text:hover::before {
    width: 100%;
    opacity: 1;
}

.link-container {
    display: flex;
    flex-direction: row;
}

.header {
    width: 70rem;
    background: #f0f0f0;
    display: flex;
    border-radius: 5px;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 5px;
}

.resto {
    display: flex;
    flex-direction: column;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.agregar-titulo img {
    width: 9%;
    height: 9%;
    cursor: pointer;
}

.gasto-container {
    background: #fff;
    width: 70%;
    height: 500px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gasto-container-2 {
    background: #fff;
    height: 55rem;
    width: 70%;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.listado-gastos {
    margin: 5px;
    height: 95%;
    width: 95%;
    border-radius: 5px;
    overflow: auto;
}

.card-3 {
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.card-3 div h5 {
    display: inline;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container div {
    display: inline;
}

.flex-container .delete img {
    justify-content: end;
    align-items: end;
}

.ver img,
.atras img,
.delete img {
    cursor: pointer;
}

.descripcion {
    width: 20rem;
}

.bar-container {
    margin-top: 20px;
}
  
.bar {
    height: 25px;
    color: #fff;
    text-align: center;
    background-color: #3498db;
    border-radius: 3px;
    overflow: hidden;
    width: 28rem;
}  

.barra-completa {
    height: 25px;
    background: #202020;
    width: 41rem;
    border-radius: 3px;
}

@media screen and (min-width: 1200px) {
    .grid {
        width: 60rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding: 0.5rem;
    }

    .card-2 {
        width: 50rem;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        width: 70rem;
    }

    .gasto-container {
        width: 70%;
        height: 500px;
    }

    .gasto-container-2 {
        width: 70%;
        height: 200px;
    }

    .bar {
        width: 28rem;
    }

    .barra-completa {
        width: 41rem;
    }
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 1199px) {
    .grid {
        width: 40rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 0.5rem;
    }

    .card-2 {
        width: 40rem;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        width: 50rem;
    }

    .gasto-container {
        width: 60%;
        height: 500px;
    }

    .gasto-container-2 {
        width: 60%;
        height: 200px;
    }

    .bar {
        width: 24rem;
    }

    .barra-completa {
        width: 37rem;
    }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
    .grid {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 0.5rem;
    }

    .card-2 {
        width: 90%;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        width: 90%;
    }

    .gasto-container {
        width: 90%;
        height: 300px;
    }

    .gasto-container-2 {
        width: 90%;
        height: 200px;
    }

    .bar {
        width: 18rem;
    }

    .barra-completa {
        width: 31rem;
    }
}

/* Estilos para pantallas extra pequeñas */
@media screen and (max-width: 479px) {
    .grid {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .card {
        width: 17rem;
    }

    .card-2 {
        width: 20rem;
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gasto-container {
        width: 90%;
        height: 300px;
    }

    .gasto-container-2 {
        width: 90%;
        height: 200px;
    }

    .bar {
        width: 18rem;
    }

    .bar-container {
        width: 18rem;
    }

    .barra-completa {
        width: 18rem;
    }
}