* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: #e0e0f0;
    color:#101010;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0.5rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 5px;
}

.card {
    background: #f0f0f0;
    gap: 1px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s;
}

.card:hover {
    background-color: #69879a;
}

.card-2 {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link {
    margin: 5px;
    border-radius: 2px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.link-text {
    display: inline;
}

.link-container {
    display: flex;
    flex-direction: row;
}

.header {
    background: #f0f0f0;
    display: flex;
    border-radius: 5px;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 5px;
}

.resto {
    display: flex;
    flex-direction: column;
}